* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    background-color: #F4D04E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Figtree', 'sans-serif';
}

.card {
    background-color: white;
    width: 384px;
    height: 522px;
    padding: 24px;
    gap: 24px;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid black;
    box-shadow: 8px 8px 0 0 #000000;
}

.info {
    background-color: #F4D04E;
    width: 82px;
    height: 29px;
    padding: 4px 12px 4px 12px;
    gap: 8px;
    border-radius: 4px 4px 4px 4px;
    border: 0;
    font-size: 14px;
    line-height: 21px;
    color: #111111;
    margin-top: 24px;
    margin-bottom: 12px;
}

.date {
    font-size: 14px;
    color: #111111;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 12px;
}

h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 12px;
}

h1 a {
    text-decoration: none;
    color: #111111;
    transition: 0.2s;
}

h1 a:hover {
    color: #F4D04E;
}

.description {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6B6B6B;
    margin-bottom: 24px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 32px;
    height: 32px;
    gap: 0;
    margin-right: 12px;
}

.user-name {
    font-size: 14px;
    font-weight: 800;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #111111;
}

@media (max-width: 576px) {
    .card {
        width: 327px;
        height: 501px;
    }
}

@media (max-width: 576px) {
    .blog-image {
        width: 279px;
    }
}

@media (max-width: 576px) {
    .info {
        font-size: 12px;
        line-height: 18px;
    }
}

@media (max-width: 576px) {
    .date {
        font-size: 12px;
        line-height: 18px;
    }
}

@media (max-width: 576px) {
    .card h1 {
        font-size: 20px;
        line-height: 30px;
    }
}

@media (max-width: 576px) {
    .card h1 a {
        font-size: 20px;
        line-height: 30px;
    }
}

@media (max-width: 576px) {
    .description {
        max-width: 279px;
        font-size: 14px;
        line-height: 21px;
    }
}
